/* General Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    
   overflow-x: hidden;
}

/* Navigation Bar */
.navigationBar {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #041d54;
}

.mainLogo {
    transform: translateY(4px);
    height: 42px;
    cursor: pointer;
}

.navTabs {
    list-style: none;
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.navTabs li a {
    text-decoration: none;
    font-size: 8px;
    font-weight: bold;
    color: whitesmoke;
    padding: 5px;
}

.navTabs li a:hover {
    color: rgb(255, 217, 0);
}

.navright {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 3px;
}

.searchBar {
    background-color: whitesmoke;
    height: 17px;
    width: 90px;
    border-radius: 3px;
    border: none;
    font-size: 10px;
    text-align: center;
    border: none;
    outline: none;
}

.rightLogo {
    width: 40px;
    height: 40px;
}

/* Marquee */
.cmarquee {
    display: flex;
    align-items: center;
    height: 19px;
    width: 100%;
    background-color: #b9eafc;
    font-size: 9px;
    font-weight: bold;
    color: black;
}

.cmarquee a {
    text-decoration: none;
}

.cmarquee a.red {
    color: #ff0000;
}

/* Lower Boxes */
.lowerBoxes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
    
}

.lowerBoxes div {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.rowCols {
    height: 7em;
    width: 11em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rowCols img {
    height: 34px;
    position: absolute;
    top: 7px;
    z-index: 2;
}

.links {
    display: flex;

    position: relative;
    top: 19px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #b9eafc69;
    height: 90%;
    width: 100%;
    padding: 0 10px;
    border-radius: 3px;
}

.links a,
.links .span1,
.links .a1 {
    font-size: 55%;
    font-weight: 600;
    text-align: center;
    color: black;
    text-decoration: none;
    word-break: break-word;
}

&:hover {
    color: darkblue;
}

.links .a1:hover {
    color: darkblue;
}

.links.p a {
    text-decoration: underline solid #0d6efd;
    color: #0d6efd;
}

.links.p a:hover {
    color: darkblue;
    text-decoration: underline solid darkblue;
}

.vS {
    position: relative;
    width: 11em;
    background-color: #b9eafc69;
    height: 15em;
    display: flex;
    gap: 0;
    flex-direction: column;
   align-items: center;
   border-radius: 3px;

}

.vS .h {
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.vS .h h1 {
    font-size: 13px;
    text-align: center;
    padding-top: 21px;

    font-weight: 600;
}

.vS .m {
   
    height: 67%;

    padding-right: 9px;

    width: 100%;
}

.vS .m marquee ul li a {
    text-decoration: none;
    font-size: 11px;
    word-wrap: break-word;
    color: black;
}
.vS .m marquee ul li a.p{
    color: #ff0000;
}
.vS .m marquee ul li a:not(.p):hover{
    color:#0004ff;
}


.vS  button{
    border: none;
    outline: none;
        background-color: #041d54;
    display: flex;
    height: 21px;
    width: 167px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 6px;
    transition: bottom .3s ease;
  
}
.vS button a{
    color:rgb(255, 217, 0);
    text-decoration: none;
    font-size: 10px;
    font-weight:600;
    
   
    
}
.vS button:hover{
    bottom: 7.5px;
    box-shadow: 2px 2px 6px rgb(22, 20, 102,0.8); 
}

.extraLinks{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
    height: 14rem;
    background-color: #041d53;
    margin-top: 2.65rem;
    
    

}
.extraLinks .row{
    margin-top: 60px;

}
.extraLinks .row .col ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.extraLinks .row .col ul li{
    padding: 0;
    line-height: 15px;
    letter-spacing: .1px;
    margin: 0;
   
    text-align: center;
}
.extraLinks .row .col ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 10px;
    font-weight: 300;
    transition: .05s color linear;
   
  
}
.extraLinks .row .col ul li a:hover{
    color: rgb(255, 217, 0);
}
.extraLinks .row p{
    font-size: 7px;
    color: whitesmoke;
    letter-spacing: 0.1px;
  text-align: center;
    margin-top: 12px;
}
.extraLinks .footerLogo{
    position: absolute;
    height: 65px;
    left: 7px;
    top: -35.6px;

}